node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Ignore platform build directories
/android
/ios

# Ignore common temporary files
*.log
*.temp
*.tmp

# Ignore IDE/config folders
/.replit
/.config